---
name: Container / Documentation Publish

"on":
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  # JOB to run change detection
  # yamllint disable-line rule:line-length
  # This is all to include / exclude running jobs when devtcontainer config changes
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      contents: read
    # Set job outputs to values from filter step
    outputs:
      devcontainer: ${{ steps.filter.outputs.devcontainer }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            devcontainer:
              - '.devcontainer/dev-build/**'

  publish-devcontainer:
    needs: changes
    # Run if we need to rebuild the container
    if: ${{ needs.changes.outputs.devcontainer == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/devcontainers/ci/issues/212
      # Have to do this manually becuase of issue with subfolders
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install devcontainer CLI
        run: npm install -g @devcontainers/cli

      - name: Build and push devcontainer
        # yamllint disable-line rule:line-length
        run: devcontainer build --push true --image-name ghcr.io/cameronrutherford/quarto-ci --config .devcontainer/dev-build/devcontainer.json --workspace-folder .

  publish-docs:
    needs: publish-devcontainer
    # Run if we need to rebuild the container
    if: ${{ needs.changes.outputs.devcontainer == 'true' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cameronrutherford/quarto-ci
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:

      - name: Check out repository
        uses: actions/checkout@v6

      - name: Quarto Render (with resume profiles)
        run: |
          quarto render --profile onepager
          quarto render

      - name: Quarto Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: false
          target: quarto-pub
          QUARTO_PUB_AUTH_TOKEN: ${{ secrets.QUARTO_PUB_TOKEN }}

  publish-docs-no-build:
    needs: changes
    # Run if we need to rebuild the container
    if: ${{ needs.changes.outputs.devcontainer == 'false' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cameronrutherford/quarto-ci
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Quarto Render (with resume profiles)
        run: |
          quarto render --profile onepager
          quarto render

      - name: Quarto Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: false
          target: quarto-pub
          QUARTO_PUB_AUTH_TOKEN: ${{ secrets.QUARTO_PUB_TOKEN }}
